<link rel="stylesheet" href="static/tombola.css">

{% extends "layout.html" %}

{% block content %}
  <div class="mx-auto" style="width: 200px;">
  <form action="#" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.email.label(class="form-control-label")}}
      {% if form.email.errors %}
        {{ form.email(class="form-control is-invalid")}}
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
            <span> {{ error }} </span>
            {% endfor %}
          </div>
      {% else %}
        {{ form.email(class="form-control")}}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-primary")}}
    </div>
  </form>
  </div>

{% endblock %}


