
<style>
.select-size  input{
  display: none;
}

.center-div {
  margin-left: auto;
  margin-right: auto;
  width: 66%;
}


.leg {
  text-align: center!important;
}


.inactive {
  pointer-events: none;
  cursor: default;
}

.envoyer {
  position: fixed;
  bottom: 2%;
  right: 5px;
  z-index: 5;
}


.clear-cart {
  position:fixed;
  bottom: 2%;
  right:120px;
  z-index:5;
}

.diag-lydia {
  z-index : 6;
  position :fixed;
  bottom :50%;
  right: 50%;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:hover {
  color: #000000!important;
  text-decoration: none;
}

.ticket {
  text-align: center;
}

.custom {
    width: 3.4em !important;
    text-align:center !important;
    vertical-align:middle !important;
}


/* ==== PAGE: TABELLONE ==== */
.tabellone .content{width: 100%; height: 65%;
  position: relative; display: -ms-flexbox;display:-webkit-flex;display: flex;-ms-flex-align: center;
  -webkit-align-items: center;-webkit-box-align: center;align-items: center;justify-content: center;}
.tabellone .tabella{width: 80vmin;height: 80vmin;margin:0;position: relative;top:1%;}
.tabellone .tabellaInner{position: absolute;height: 100%;width: 100%;z-index: 2;bottom: 0;}
.tabellone .tabellaInner div{float:left ;border-radius: 0px; height: 11%; width: 11%; margin-right: 9% ;
  margin-bottom:5%;cursor: default;color: #87CEFA;}
.tabellone .tabellaInner input{display: none;}
.tabellone .tabellaInner input:checked ~ label{background:  #c0c0c0;color:  #007bff;}
/*.tabellone .tabellaInner div:nth-child(10n+10) {margin-right: 0%!important; margin-bottom: 2%!important;} 
.tabellone .tabellaInner div:nth-child(30n+30) {margin-bottom: 4%!important;} */

.butn {display:inline-block;font-weight:350;color:#212529;text-align:center;vertical-align:middle;
  -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:transparent;
  border:1px solid transparent;padding:.375rem .70rem;font-size:1rem;line-height:1.5;
  border-radius:.25rem;transition:color .15s ease-in-out,background-color 
  .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}
@media (prefers-reduced-motion:reduce){.butn{transition:none}}.butn:hover{color:#212529;text-decoration:none}.butn.focus,.butn:focus{outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25)}.butn.disabled,.butn:disabled{opacity:.65}.butn:not(:disabled):not(.disabled){cursor:pointer}
.butn-available {color:#fff;background-color:#007bff;border-color:#007bff}
.butn-unavailable {color:#fff;background-color:#dc3545;border-color:#dc3545}
.butn-booked{color:#fff;background-color:#dc7935;border-color:#dc7935;}


/* ANIM */
.tabellone .tabellaInner div .selected{
  -ms-animation-name: circleRotante;
    -ms-animation-duration: 1.5s;
  -ms-animation-delay: 3s;
  -ms-animation-fill-mode: forwards;
    -webkit-animation-name: circleRotante;
    -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
    animation-name: circleRotante;
    animation-duration: 1.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  position: relative;
}
@keyframes circleRotante{    
  0%{
    color: #FFFFFF;
    opacity: 0;
    -webkit-transform:rotateY(0deg) rotateZ(0deg) scale(6);
    transform:rotateY(0deg) rotateZ(0deg) scale(6);
    z-index: 5;
    background: #ff3300;
    box-shadow: 1px 2px #901D00;
  }
  50%{
    color: #FFFFFF;
    opacity: 1;
    z-index: 5;
  }
    100% {
    color: #FFFFFF;
    opacity: 1;
    -webkit-transform:rotateY(360deg) rotateZ(-360deg) scale(1);
    transform:rotateY(360deg) rotateZ(-360deg) scale(1);
    z-index: 5;
    background: #ff3300;
    box-shadow: 1px 2px #901D00;
    z-index: 1;
  }
}

</style>